extends ./common/index
block case
    .container-fluid.row.mt-4
        .side-bar.col-md-2.col-sm-12.mb-5(style="background: #ddd; padding-top: 5px;")
            if currentUser.name.length > 0
                .user.alert.alert-success.text-center= currentUser.name
            else
                .btn-group.w-100
                    .btn.btn-success.mr-1
                        a(href="/register" style="text-decoration: none ").text-light Register
                    .btn.btn-success 
                        a(href="/login" style="text-decoration: none    ").text-light Login
            button.btn.btn-primary.d-block(style="width: 100%; margin-top: 2px") Home
            .btn-group(style="width: 100%; margin-top: 2px")
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    |Profile
                .dropdown-menu
                    a.dropdown-item(href='#') Change Infomation
                    .dropdown-divider
                    a.dropdown-item(href='#') Change Password
            button.btn.btn-primary.d-block(style="width: 100%; margin-top: 2px") Setting
            
            if currentUser.name.length > 0
                form(action="/logout", method="post")
                    button.btn.btn-primary.d-block(style="width: 100%; margin-top: 2px") Logout

        .list-pokedex.col-md-10.col-sm-12.row
            each pokemon in listPokemon
                .card(style='width: 18rem;').col-lg-3.col-md-4.col-sm-6.col-12
                    a(href= "/pokemon/" + pokemon.id)
                        img.card-img-top(src= pokemon.imageUrl alt='...')
                    .card-body(style="padding: 5px")
                        p(style="color: #aaa; font-weight: bold").mb-2= "#" + formatUrl(pokemon.id)
                        h5.card-title.font-weight-bold.mb-1= pokemon.name.english
                        .type(class= pokemon.type[0])= pokemon.type[0]
                        if pokemon.type[1]
                            .type(class= pokemon.type[1]).ml-1= pokemon.type[1]
